.el-drawer__header {
  height: 50px;
  margin-bottom: 0 !important;
  padding: 0 16px !important;
  border-bottom: 1px solid #eaeaea;
}
.el-drawer__footer {
  height: 50px;
  padding: 0 16px !important;
}
/* .el-image-viewer__canvas {
  overflow: auto;
} */

  /* ----- 自定義按鈕 ----- */
  /* .el-button--aa {
    background-color: var(--tertiary-600) !important;
  } */
.el-dropdown {
  --el-font-size-base: 16px;
  font-size: 1rem;
  color: var(--secondary) !important;
}
.el-dropdown .el-dropdown-link:focus-visible {
  outline: none;
}

.el-dropdown .el-popper__arrow {
  width: 0;
  height: 0;
}